.pageHeader {

    background-color:rgb(141, 126, 106);
    color: rgb(255, 243, 228);

}

.newBook {

    border: 12px solid rgb(97, 97, 109);
    border-radius: 15px;
    height: auto;
    width: 130px;
}